// :root {
//   --color-white: #fff;
//   --color-primary: #ff5858;
//   --color-text: #616161;
//   --color-text-header: #3f3f3f;
//   --color-background: #f4f7ff;
//   --color-blue: #004b71;
//   --color-red: #d31a1a;
//   --color-blue-hover: #7398aa;
//   --linear-gradient: linear-gradient(90deg, #ff5858 0%, #f09819 100%);
//   --box-shadow: 0px 12px 42px -4px #18274b1f;

//   --border-radius: 24px;
// }

// $xl: 1440px;
// $md: 992px;
// $lg: 768px;
// $xs: 576px;
